[Unit]
Description=Kaylor Input Text Relay
After=network.target

[Service]
Type=simple
ExecStart=/home/kaylor/miniconda3/envs/kaylor_input/bin/python /home/kaylor/work/kaylor_input/app.py
WorkingDirectory=/home/kaylor/work/kaylor_input
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
