[Unit]
Description=Kaylor Input Text Relay
After=network.target

[Service]
Type=simple
User=kaylor
Environment=HOME=/home/kaylor
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=WAYLAND_DISPLAY=wayland-0
Environment=XDG_SESSION_TYPE=wayland
Environment=DISPLAY=:0
ExecStart=/usr/bin/python3 /home/kaylor/work/kaylor_input/app.py
WorkingDirectory=/home/kaylor/work/kaylor_input
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
